@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Lexend+Deca&display=swap");

:root {
  --ff-inter: "Inter", sans-serif;
  --ff-lexend: "Lexend Deca", sans-serif;

  --fw-regular: 400;
  --fw-bold: 700;

  --fs: 15px;

  --blue: hsl(233, 47%, 7%);
  --card: hsl(244, 38%, 16%);
  --violet: hsl(277, 64%, 61%);
  --white: hsl(0, 0%, 100%);
  --paragraph: hsla(0, 0%, 100%, 0.75);
  --headings: hsla(0, 0%, 100%, 0.6);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--blue);
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card {
  background-color: var(--card);
  width: 327px;
  height: 780px;
}

.card img {
  width: 327px;
  height: 240px;
}

.card h1,
.card h2 {
  font-family: var(--ff-inter);
  font-weight: var(--fw-bold);
  color: var(--white);
  text-align: center;
}

.card h1 {
  padding: 40px 31.5px 16px;
  font-size: 28px;
  line-height: 32px;
}

span {
  color: var(--violet);
}

.card p {
  font-family: var(--ff-inter);
  font-weight: var(--fw-regular);
  color: var(--paragraph);
  padding: 0 31.5px 40px;
  text-align: center;
  font-size: var(--fs);
  line-height: 25px;
}
