@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Lexend+Deca&display=swap");

:root {
  --ff-inter: "Inter", sans-serif;
  --ff-lexend: "Lexend Deca", sans-serif;

  --fw-regular: 400;
  --fw-bold: 700;

  --fs: 15px;

  --blue: hsl(233, 47%, 7%);
  --card: hsl(244, 38%, 16%);
  --violet: hsl(277, 64%, 61%);
  --white: hsl(0, 0%, 100%);
  --paragraph: hsla(0, 0%, 100%, 0.75);
  --headings: hsla(0, 0%, 100%, 0.6);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--blue);
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card {
  background-color: var(--card);
  width: 1110px;
  height: 446px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  border: 1px solid var(--white);
  gap: 30px;
}

img {
  width: 540px;
  height: 446px;
}
